#home{
    color: $light;
    height: 100vh;
    position: relative;
    
    .greetings{
        // height: 75vh;
        height: calc(100vh - 15rem);
    }

    .footer-visit {
        position: fixed;
        bottom: 3rem;
        left: 2rem;
        span{
            vertical-align: middle;
            margin-right: 0.5rem;
        }
    }

    .footer-restore{        
        position: fixed;
        bottom: 3rem;
        right: 2rem;
    }
}